body {
  line-height: 2.2rem;
  background-color: rgb(253, 255, 233);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(41, 8, 255);
}


.bayan{
  max-width: 50%;
  margin: 1rem auto;
}

.bayan__item{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bayan__input{
  width: 0;
  height: 0;
  appearance: none;
}

.bayan__image{
  align-self: center;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  transition: all 0.2s ease 0.1s;
}